@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.arrow {
   font-size: 40px;
   color: #d8d8d8;
   padding: 15px;
}

.arrow:hover {
    
    color: #474747;
 }

 .titulo {
    z-index: 2;
    position: absolute;
    margin-top: 57%;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Great Vibes', cursive;

 }

 .carousel {
    z-index: 1;
    position: relative;
 }


 @media screen and (min-width: 1200px) {
    .titulo {
        margin-top: 15%;
        font-size: 65px;
        opacity: 90%;
    }

    .arrow {
  
        font-size: 70px;
        color: #d8d8d8;
        padding: 20px;
        margin-top: 10px;
     }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {

    .titulo {
        margin-top: 24%;
        font-size: 55px;
        opacity: 90%;
    }

    .arrow {
  
        font-size: 60px;
        color: #d8d8d8;
        padding: 20px;
      
     }

 }